.box .icon {
    visibility: hidden;
    top: 0;
    right: 1rem;
}

.alert-box {
    left: 1rem;
    bottom: 2rem;
}

.btn-delete {
    background-color: inherit;
    border: none;
}

.btn-edit {
    background-color: inherit;
    border: none;
}

.box:hover .icon {
    visibility: visible;
}

.message {
    font-size: 0.2rem;
}
.pagenumber button {
    width: 40px;
    height: 40px;
    appearance: none;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    cursor: pointer;
    background-color: #ffffff;
    margin: 5px;
    transition:.4s ;
    font-size: 18px;
}
.pagenumber button:hover{
    background-color: #8f8f8f;
}
.pagenumber button.active {
    background-color: #d4ffde;
    box-shadow: 0 0 5px #00000080;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #000000; /* Fallback color */
    background-color: #00000066; /* Black w/ opacity */
}

.modal-content {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 0;
border: 1px solid #888;
width: 80%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: #ff7f7f;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #d4ffde;
    color: white;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #d4ffde;
    color: white;
}